:root {
	flex: 1 0 auto;
	width: inherit;
	padding: 1em;
	box-sizing: border-box;
	display: flex;
	flex-flow: column nowrap;
}

.content {
	margin: auto;
	text-align: center;
	font-family: sans-serif;
	justify-content: center;
	text-shadow: 0 0.4em 0.7em rgba(0, 0, 0, 0.8);
}