:root {
	display: inline-block;
	font-size: 1.1em;
	background: transparent;
	padding: 0.6em 2em;
	border-radius: 0.3em;
	color: #111;
	border: solid 0.2em;
	align-self: baseline;
	margin-top: 1em;
}

:root.bottom {
	margin-top: auto;
}

:root.center {
	margin-left: auto;
	margin-right: auto;
}
